




.submit-container {
    display: flex;
}
.submit-container .lt-submit-widget {
    margin: auto;
}
.login-page .lt-submit-widget {
    width: 80%;
}


.image-container {
    display: flex;
    margin-top: 20%;
    margin-bottom: 10%;
}
.image-container img {
    margin: auto;
}