

/*
Custom styling based on screen size to make it responsive
*/
@media screen and (min-width: 1501px) {
    .checkbox-container {
        width: 25%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media screen and (max-width: 1500px) {
    .checkbox-container {
        width: 30%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media screen and (max-width: 800px) {
    .checkbox-container {
        width: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}


.translation-page {
    margin-bottom: 10%;
    border-radius: 0 0 15px 15px;
}

/*
Border on input-widget within this page is customized to make it 
fit in with other components
*/
.translation-page .lt-submit-widget input {
    border-radius: 15px 0 0 0 !important;
}
.translation-page .lt-submit-widget button {
    border-radius: 0 15px 0 0  !important;
}

.translation-container {
    min-height: 35vh;
    background-color: #CECDCD;
    border-radius: 0 0 15px 15px;
    padding: 5%;
}

.image-add {
    font-size: 2rem;
    color: #9665A8;
    margin: auto 5% auto 5%;
}
.row-container {
    display: flex;
    margin-bottom: 5%;
}


/*
Styling for the Toggle-letters component
*/
.checkbox-widget-container {
    display: flex;
    justify-content: right;
}
.checkbox-container {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 25px;
}
.checkbox-container p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #9665A8;
    margin-right: 5%;
}