

/*
Specific styling based on screen size to make it responsive
*/
@media screen and (min-width: 1501px) {
    .lt-image-row img {
        width: 85px;
    }
    .handsign-letter-container {
        height: 85px;
        width: 85px;
    }
    .handsign-letter {
        width: 30%;
        font-size: 1.65rem;
    }
}
@media screen and (max-width: 1500px) {
    .lt-image-row img {
        width: 65px;
    }
    .handsign-letter-container {
        height: 65px;
        width: 65px;
    }
    .handsign-letter {
        width: 40%;
        font-size: 1.45rem;
    }
}
@media screen and (max-width: 800px) {
    .lt-image-row img {
        width: 55px;
    }
    .handsign-letter-container {
        height: 55px;
        width: 55px;
    }
    .handsign-letter {
        width: 40%;
        font-size: 1.35rem;
    }
}


/*
Submit Widget
*/
.lt-submit-widget {
    display: flex;
    width: 100%;
    border-radius: 0 0 15px 15px;
}
#submit-input {
    width: 85%;
    height: 70px;
    border-radius: 15px 0 0 15px;
    font-size: 1.6rem;
    padding-left: 4%;
    outline: none;
    border: none;
}
#submit-input::placeholder {
    opacity: .75;
}
#submit-button {
    width: 15%;
    border-radius: 0 15px 15px 0;
    border: none;
    outline: none;
    background-color: #B46FCC;
    color: white;
    transition: .15s ease-in-out;
    font-size: 3rem;
}
#submit-button:hover {
    cursor: pointer;
    background-color: white;
    color: #B46FCC;
}

/*
Image Row
*/
.lt-image-row {
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 1% 3% 1% 3%;
}
/*
The toggleable letter for each image
*/
.handsign-letter-container {
    display: inline-block;
    position: relative;
}
.handsign-letter {
    position: absolute;
    top: 1%;
    left: 1%;
    font-weight: bolder;
    font-style: italic;
    color:#B46FCC;
    padding-right: 5%;
    background-color: rgba(233, 204, 233, 0.7);
    text-align: center;
    border-radius: 5px;
}

/*
Delete button
*/
.lt-delete-button button {
    font-size: 2rem;
    width: 175px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: #8a8a8a;
    background-color: #cccbcb;
    transition: .15s ease-in-out;
}
.lt-delete-button button:hover {
    transform: scale(1.1);
    background-color: #B46FCC;
    color: white;
    cursor: pointer;
}



/*
--- START ---
--- CSS For a simple sliding toggle button ---
--- Because of time constraints: Borrowed directly and mostly unchanged from:
    W3Schools @ https://www.w3schools.com/howto/howto_css_switch.asp
*/

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        }

        /* The slider */
        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }

        input:checked + .slider {
        background-color:#B46FCC;
        }

        input:focus + .slider {
        box-shadow: 0 0 1px #B46FCC;
        }

        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
        border-radius: 34px;
        }

        .slider.round:before {
        border-radius: 50%;
        }

/* 
--- W3Schools borrowed CSS ---
--- END ---
*/