

.lt-submit-widget {
    display: flex;
    width: 100%;
}
#submit-input {
    width: 85%;
    height: 70px;
    border-radius: 15px 0 0 15px;
    font-size: 1.6rem;
    padding-left: 4%;
    outline: none;
    border: none;
}
#submit-input::placeholder {
    opacity: .75;
}


#submit-button {
    width: 15%;
    border-radius: 0 15px 15px 0;
    border: none;
    outline: none;
    background-color: #B46FCC;
    color: white;
    transition: .15s ease-in-out;
    font-size: 3rem;
}
#submit-button:hover {
    cursor: pointer;
    background-color: white;
    color: #B46FCC;
}


.lt-image-row {
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 1% 3% 1% 3%;
    height: 95px;
}
.lt-image-row img {
    width: 85px;
}

.lt-delete-button button {
    font-size: 2rem;
    width: 175px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: #8a8a8a;
    background-color: #cccbcb;
    transition: .15s ease-in-out;
}
.lt-delete-button button:hover {
    transform: scale(1.1);
    background-color: #B46FCC;
    color: white;
    cursor: pointer;
}