body {
    background: #413455;
    font-family: 'IBM Plex Sans','Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.app {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.app-centered-container {
    grid-column: 2;
}

