body {
    /*background: #413455;*/
    background: linear-gradient(#413455, #a178bd);
    font-family: 'IBM Plex Sans','Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100vh;
}

.shadow {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.014),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.03),
  0 22.3px 17.9px rgba(0, 0, 0, 0.052),
  0 41.8px 33.4px rgba(0, 0, 0, 0.066),
  0 40px 40px rgba(0, 0, 0, 0.055)
}

.invisible {
    display: none;
}

.app {
    display: grid;
}

@media screen and (min-width: 1501px) {
    .app {
        grid-template-columns: 30% 40% 30%;
    }
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1500px) {
    .app {
        grid-template-columns: 25% 50% 25%;
    }
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .app {
        grid-template-columns: 5% 90% 5%;
    }
    html {
        font-size: 14px;
    }
}

.app-centered-container {
    grid-column: 2;
}

